{% trans_default_domain 'FOSUserBundle' %}

<div class="card">
    <div class="card-header">
        Reset Password
    </div>
    <div class="card-body">
        {% form_theme form 'fos_user_form_layout.html.twig' %}
        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        {{ form_widget(form) }}
        <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4">
                <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans }}" />
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
